body{
    background: radial-gradient(#e5e5e5, #fff, #e5e5e5); 
  }
  .card{
    widows: 20rem;
  }
  
  .card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, .253) !important;
  }
  
  .card-body{
    padding: 3rem 0 !important;
  }
  .card-text{
    font-size: 9rem;
    padding: .4rem 1.9rem;
  }
  .container-fluid{
  padding-top: 6rem !important;
  }
  
  .overflow{
    overflow: hidden;
  }
  .card-img-top{
    transform: scale(1);
    transition: transform 1.5s ease
  }
  
  .card-img-top:hover{
    transform: scale(.8)
  }
  